.newTaskArea {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.newTask {
    background: var(--gray-500);
    width: 638px;
    height: 54px;
    color: white;
    padding: 16px;
    line-height: 140%;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    margin-bottom: 50px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--blue-dark);
    color: white;
    width: 90px;
    height: 52px;
    margin-left: 8px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    gap: 0.5rem;

    
}

button:hover {
    background-color: var(--blue);
}


