


.trash {
    color: var(--gray-300);
    cursor: pointer;
}

.trashDiv {
    padding: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
}

.trashDiv:hover {
    background-color: var(--gray-400);
    color: var(--danger);
    cursor: pointer;
}

.trash:hover {
    
    color: var(--danger);
    cursor: pointer;
    
}


.itemsText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-500);
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
}

.created {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#teste {
    text-decoration: line-through !important;
    opacity: 0.5 !important;
    color: red !important;
    background-color: red !important;
  }
  